<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572879865754-cf211dkkcq1jllr34f4poa3l3kftn859.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572879865754-cf211dkkcq1jllr34f4poa3l3kftn859</string>
	<key>API_KEY</key>
	<string>AIzaSyDeJv6WU31fGiF1CvJw-y73jKyI0c8bpEA</string>
	<key>GCM_SENDER_ID</key>
	<string>572879865754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learning.swift.VKapp</string>
	<key>PROJECT_ID</key>
	<string>vkapp-hk</string>
	<key>STORAGE_BUCKET</key>
	<string>vkapp-hk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572879865754:ios:7632b59cc08725b6109c23</string>
</dict>
</plist>